.table {
    overflow-x: auto;
  }
  
  
  .cursor {
  cursor: pointer;
  
  }

  .container-list-beneficiaries{
    margin-top: 80px;
}
  

thead{
  background-color: white;
}

.paginator{
  padding-left: 8px;  
  padding-right: 8px;
}