  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">          
          {{bodyText}}
          <ng-content></ng-content>
        </div>
      
        
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{btnCloseText}}</button>

          


          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="saveChanges()"  *ngIf="colorBtnSave === 'success'">
            <span class="material-symbols-outlined">
              {{btnSaveText}}
              </span>
          </button>


          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="saveChanges()"  *ngIf="colorBtnSave === 'danger' ">
            <span class="material-symbols-outlined">
              {{btnSaveText}}
              </span>
          </button>
        </div>
      </div>
    </div>
  </div>
