<app-alert [alertText]="alertText" [alertType]="alertType" ></app-alert>

<div class="container-fluid p-4">
  <h3 class="text-center pb-2">New Beneficiary</h3>
  <form [formGroup]="formSheet" (onSubmit)="onSubmit()">
    <div *ngIf="partForm == 1">
      <!-- Tipo de documento y numero -->

      <div class="row">
        <div class="input-group py-2">
          <label class="input-group-text" for="inputGroupSelect01"
            >Document</label
          >
          <select class="form-select" id="inputGroupSelect01" formControlName="DocumentType">
            <option value="Refugee Claimant">Refugee Claimant</option>
            <option value="Foreign document">Foreign document</option>
            <option value="Ontario Health Number Card">
              Ontario Health Number Card
            </option>
            <option value="Passport">Passport</option>
            <option value="Driving license">Driving license</option>
            <option value="Other">Other</option>
          </select>
          <input
            type="text"
            aria-label="Last name"
            class="form-control"
            placeholder="Document number"
            formControlName="DocumentNumber"
          />
        </div>
      </div>

      <!-- Nombre -->

      <div class="row">
        <div class="input-group py-2">
          <span class="input-group-text">Name</span>
          <input
            type="text"
            aria-label="First name"
            placeholder="Name"
            class="form-control"
            formControlName="Name"
          />
          <input
            type="text"
            aria-label="Last name"
            placeholder="Last"
            class="form-control"
            formControlName="LastName"
          />
        </div>
      </div>

      <!-- Cumpleaños y sexo -->

      <div class="row">
        <div class="col-xs-12 col-sm-6 py-2">
          <div class="input-group">
            <span class="input-group-text">Birth of date</span>
            <input type="date" aria-label="birthdate" class="form-control" formControlName="BirthDate" />
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 py-2">
          <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01">Sex</label>
            <select class="form-select" id="inputGroupSelect01" formControlName="Sex">

              <option value="Female">Female</option>
              <option value="Male">Male</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Ciudad y dirección -->

      <div class="row">
        <div class="input-group py-2">
          <label class="input-group-text" for="inputGroupSelect01">City</label>
          <select class="form-select" id="inputGroupSelect01" formControlName="City">
            <option value="Brampton">Brampton</option>
            <option value="Markham">Markham</option>
            <option value="Mississauga">Mississauga</option>
            <option value="Toronto">Toronto</option>
            <option value="Vaughan">Vaughan</option>
            <option value="Other">Other</option>
          </select>
          <input
            type="text"
            aria-label="Last name"
            class="form-control"
            placeholder="adress"
            formControlName="Address"
          />
        </div>
      </div>

      <!-- Pais de origen y telefono-->

      <div class="row">
        <div class="col-xs-12 col-sm-6 py-2">
          <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01"
              >Nationality</label
            >
            <select class="form-select" id="inputGroupSelect01" formControlName="Nationality">

              <option value="Ecuador">Ecuador</option>
              <option value="Canadá">Canadá</option>
              <option value="Colombia">Colombia</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Guatemala">Guatemala</option>
              <option value="México">México</option>
              <option value="Panamá">Panamá</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 py-2">
          <div class="input-group">
            <span class="input-group-text">Phone</span>
            <input
              type="text"
              aria-label="Phone"
              placeholder="Phone"
              class="form-control"
              formControlName="PhoneNumber"
            />
          </div>
        </div>

      </div>
    </div>

    <!-- PERSONAS QUE VIVEN CON EL BENEFICIARIO -->

    <div *ngIf="partForm === 2">
      <h3 class="text-center pb-2">How many people live with you?</h3>
      <p class="text-center">Counting the respondent</p>

      <!-- *************   ENTRE 0 A 4 ****** -->

      <div class="row mt-2">
        <p class="text-center mt-4">Between <strong>0 to 4 </strong>years</p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="input-group py-2">
            <label class="input-group-text" for="inputGroupSelect01"
              >Female</label
            >
            <select class="form-select" id="inputGroupSelect01" formControlName="FemaleBetween0_4">
              <option selected>How many people 0 - 4 years</option>
              <option value="0">0 person</option>
              <option value="1">1 person</option>
              <option value="2">2 people</option>
              <option value="3">3 people</option>
              <option value="4">4 people</option>
              <option value="5">5 people</option>
              <option value="6">6 people</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="input-group py-2">
            <label class="input-group-text" for="inputGroupSelect01"
              >Male</label
            >
            <select class="form-select" id="inputGroupSelect01" formControlName="MaleBetween0_4">
              <option selected>How many people 0 - 4 years</option>
              <option value="0">0 person</option>
              <option value="1">1 person</option>
              <option value="2">2 people</option>
              <option value="3">3 people</option>
              <option value="4">4 people</option>
              <option value="5">5 people</option>
              <option value="6">6 people</option>
            </select>
          </div>
        </div>
      </div>

      <!-- *************   ENTRE 5 A 17 ****** -->

      <div class="row mt-2">
        <p class="text-center mt-4">Between <strong>5 to 17 </strong>years</p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="input-group py-2">
            <label class="input-group-text" for="inputGroupSelect01"
              >Female</label
            >
            <select class="form-select" id="inputGroupSelect01" formControlName="FemaleBetween5_17">
              <option selected>How many people 5 - 17 years</option>
              <option value="0">0 person</option>
              <option value="1">1 person</option>
              <option value="2">2 people</option>
              <option value="3">3 people</option>
              <option value="4">4 people</option>
              <option value="5">5 people</option>
              <option value="6">6 people</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="input-group py-2">
            <label class="input-group-text" for="inputGroupSelect01"
              >Male</label
            >
            <select class="form-select" id="inputGroupSelect01" formControlName="MaleBetween5_17">
              <option selected>How many people 5 - 17 years</option>
              <option value="0">0 person</option>
              <option value="1">1 person</option>
              <option value="2">2 people</option>
              <option value="3">3 people</option>
              <option value="4">4 people</option>
              <option value="5">5 people</option>
              <option value="6">6 people</option>
            </select>
          </div>
        </div>
      </div>

      <!-- *************   ENTRE 18 A 64 ****** -->

      <div class="row mt-2">
        <p class="text-center mt-4">Between <strong>18 to 64 </strong>years</p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="input-group py-2">
            <label class="input-group-text" for="inputGroupSelect01"
              >Female</label
            >
            <select class="form-select" id="inputGroupSelect01" formControlName="FemaleBetween18_64">
              <option selected>How many people 18 - 64 years</option>
              <option value="0">0 person</option>
              <option value="1">1 person</option>
              <option value="2">2 people</option>
              <option value="3">3 people</option>
              <option value="4">4 people</option>
              <option value="5">5 people</option>
              <option value="6">6 people</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="input-group py-2">
            <label class="input-group-text" for="inputGroupSelect01"
              >Male</label
            >
            <select class="form-select" id="inputGroupSelect01" formControlName="MaleBetween18_64">
              <option selected>How many people 18 - 64 years</option>
              <option value="0">0 person</option>
              <option value="1">1 person</option>
              <option value="2">2 people</option>
              <option value="3">3 people</option>
              <option value="4">4 people</option>
              <option value="5">5 people</option>
              <option value="6">6 people</option>
            </select>
          </div>
        </div>
      </div>

      <!-- *************   Mayores de 65  ****** -->

      <div class="row mt-2">
        <p class="text-center mt-4">Between <strong>+65 </strong>years</p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="input-group py-2">
            <label class="input-group-text" for="inputGroupSelect01"
              >Female</label
            >
            <select class="form-select" id="inputGroupSelect01" formControlName="FemaleOver65">
              <option selected>How many people +65 years</option>
              <option value="0">0 person</option>
              <option value="1">1 person</option>
              <option value="2">2 people</option>
              <option value="3">3 people</option>
              <option value="4">4 people</option>
              <option value="5">5 people</option>
              <option value="6">6 people</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="input-group py-2">
            <label class="input-group-text" for="inputGroupSelect01"
              >Male</label
            >
            <select class="form-select" id="inputGroupSelect01" formControlName="MaleOver65">
              <option selected>How many people +65 years</option>
              <option value="0">0 person</option>
              <option value="1">1 person</option>
              <option value="2">2 people</option>
              <option value="3">3 people</option>
              <option value="4">4 people</option>
              <option value="5">5 people</option>
              <option value="6">6 people</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- ********* next parte 1 ************ -->

    <div *ngIf="partForm == 1" class="d-flex justify-content-center mt-4">
      <button (click)="next()" type="button" class="btn btn-warning px-2">
        Next
      </button>
    </div>
    <!-- ********* Submit parte 2 ************ -->

    <div *ngIf="partForm == 2" class="d-flex justify-content-center mt-4">
      <button (click)="back()" type="button" class="btn btn-light mx-2">
        Back
      </button>
      <button (click)="onSubmit()" type="submit" class="btn btn-success mx-2" *ngIf="activeSubmit">
        Submit
      </button>
    </div>
  </form>
</div>
