<app-alert [alertText]="alertText" [alertType]="alertType"></app-alert>

<div class="container-login">
    <app-title [title]="'FOOD BANK REGISTRATION'"></app-title>
    <div class="d-flex justify-content-center">
        <img src="../../../assets/imgs/img-fimlm.png" alt="">
    </div>
    <form [formGroup]="formLogin" class="form-login">
        <div class="form-group mb-4">
            <label for="user">User</label>
            <input type="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter user" formControlName="username">
            <small id="emailHelp" class="form-text text-muted">We'll never share your user with anyone else.</small>
        </div>
        <div class="form-group my-4">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                formControlName="password">
        </div>

        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-primary" (click)="submitLogin()" [disabled]="formLogin.invalid">Login</button>
        </div>
    </form>
</div>
<