<app-alert *ngIf="passwordIncorrect" alertType="danger"
  alertText="********** Incorrect password **********"></app-alert>

<div class="container-home">
  <div class="text-center my-2">
    <app-title [title]="'¡Hi, 👋 volunteer!'"></app-title>
    <h1>Welcome to our Food Bank Registration App!
    </h1>
  </div>
  <div class="cards-buttons d-flex justify-content-center p-4">
    <app-card-button *ngFor="let card of cards" [textCardButton]="card.text" [routerCardButton]="card.router"
      [buttonInCard]="card.button" [pathImag]="card.pathImag"></app-card-button>

      <!-- Button de administradores  -->
    <app-card-button data-bs-toggle="modal" data-bs-target="#exampleModal" [textCardButton]="
        'Single space for administrators of the  Maria Luisa de Moreno International Foundation'
      " [buttonInCard]="'Administrators'"
      [pathImag]="'../../../assets/imgs/admins.jpg'"></app-card-button>
  </div>
</div>

<app-modal [modalTitle]="'Administrator access'" [bodyText]="'Only administrators are allowed to access'"
  [btnCloseText]="'Close'" [btnSaveText]="'done_all'" [colorBtnSave]="'success'"
  (SaveChangesEvent)="saveChangesModal(password.value)">
  <h3 class="text-center mt-2"> <strong>Type password</strong> </h3>
  <div class="input-group">
    <input #password type="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1" />
  </div>
</app-modal>