<h2 class="text-center my-2">Wolcome to Food Bank Registration!</h2>
<p class="text-center my-2">Search by name or document number...</p>

<div class="row">
  <div class="container-fluid d-flex justify-content-center">
    <div class="m-2">
      <button
        class=""
        type="button"
        class="btn btn-success"
        (click)="getAllBeneficiaries()"
        *ngIf="dataTable.length === 0"
      >
        All beneficiary
      </button>
    </div>
  </div>
</div>

<!-- ********* formulario ************* -->

<form class="container p-3" [formGroup]="form">
  <div class="row" *ngIf="temporalData.length !== 0">
    <div class="input-group mb-3">
      <input
      #text
        placeholder="Search by name or document number..."
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
        formControlName="search"
        (keyup)="inputText(text.value)"
      />
    </div>
  </div>
</form>

<!-- ********* tabla ************* -->
<div class="table px-2" *ngIf="temporalData.length > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Open</th>
        <th class="anchor" scope="col-4">Document</th>
        <th class="anchor" scope="col-4">Name</th>
        <th class="anchor" scope="col-4">Lastname</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Nacionality</th>
        <th scope="col">Donate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beneficiary of dataTable">
        <td>
          <span class="material-symbols-outlined py-2"> open_in_new </span>
        </td>
        <td class="anchor">{{ beneficiary.DocumentNumber }}</td>
        <td class="anchor">{{ beneficiary.Name }}</td>
        <td class="anchor">{{ beneficiary.LastName }}</td>
        <td>{{ beneficiary.PhoneNumber }}</td>
        <td>{{ beneficiary.PhoneNumber }}</td>

        <td>
          <span class="material-symbols-outlined py-2">
            volunteer_activism
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
