<app-alert [alertText]="alertText" [alertType]="alertType"></app-alert>
<app-modal
  [modalTitle]="modalTitle"
  [bodyText]="bodyText"
  [btnCloseText]="btnCloseTextModal"
  [btnSaveText]="btnSaveTextModal"
  [colorBtnSave]="colorBtnSave"
  (SaveChangesEvent)="saveChangesModal()"
>
</app-modal>

<div class="container-delivery">
  <app-title [title]="'Deliveries'"></app-title>

  <div class="container-fluid d-flex justify-content-center" *ngIf="rol">
    <button
      *ngIf="temporalData.length !== 0"
      (click)="generateResult(temporalData)"
      mat-fab
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>bar_chart</mat-icon>
    </button>
  </div>

  <!-- ********* formulario ************* -->

  <div class="row p-4" *ngIf="temporalData.length !== 0">
    <div class="input-group mb-3">
      <input
        #text
        placeholder="Search by name or document number..."
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
        (keyup)="inputText(text.value)"
      />

      <button type="button" class="btn btn-warning" (click)="getAllDelivery()">
        Update list
      </button>
    </div>
  </div>

  <!-- ********** Paginador ********** -->

  <div class="paginator" *ngIf="temporalData.length > 0">
    <mat-paginator [length]="paginatorLength"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="getPaginatorData($event)"
                aria-label="Select page">
  </mat-paginator>
  </div>


  <!-- *********** tabla ********* -->

  <div class="table px-2" *ngIf="temporalData.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th class="anchor" scope="col-4">Document</th>
          <th class="anchor" scope="col-4">Name</th>
          <th class="anchor" scope="col-4">Lastname</th>
          <th scope="col">Nationality</th>
          <th scope="col">Deliver</th>
          <th scope="col" *ngIf="rol">Delete</th>
        </tr>
      </thead>
      <tbody *ngIf="disableTable">
        <tr *ngFor="let beneficiary of dataTable[pageIndex]">
          <td>{{ beneficiary.numberList }}</td>
          <td>{{ beneficiary.DeliveryDate }}</td>
          <td class="anchor">{{ beneficiary.DocumentNumber }}</td>
          <td class="anchor">{{ beneficiary.Name }}</td>
          <td class="anchor">{{ beneficiary.LastName }}</td>
          <td>{{ beneficiary.Nationality }}</td>
          <td>{{ beneficiary.EditBy }}</td>

          <td *ngIf="rol">
            <span
              class="material-symbols-outlined cursor py-2"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="deleteDeliveryModal(beneficiary)"
            >
              Delete
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ********* tabla ************* -->
